@use '../../styles/tools/mixins';
@use '../../styles/base/breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: #fafafa;
  background-image: linear-gradient(315deg, #fafafa 0%, #f4f4f4 74%);
  /* box-shadow: 0 -0.5px 10px silver; */

  @include mixins.BreakAt(breakpoints.$breakpoint-5) {
    padding: 2rem 6rem;
  }
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 0.5rem;

  @include mixins.BreakAt(breakpoints.$breakpoint-5) {
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.BreakAt(breakpoints.$breakpoint-8) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer__bottom {
  text-align: center;
}
