<!-- <div class="footerTop">
  <div>
    <h3 class="mt-0 mb-3">BIO</h3>
    <p class="mt-0 mb-0">Some bio</p>
  </div>
  <div>
    <h3 class="mt-0 mb-3">INFORMATION</h3>
    <p class="mt-0 mb-0">Some Information</p>
  </div>
  <div>
    <h3 class="mt-0 mb-3">CLIENTS</h3>
    <p class="mt-0 mb-0">Some clients</p>
  </div>
  <div>
    <h3 class="mt-0 mb-3">CONTACT</h3>
    <div>
      <a
        href="https://www.instagram.com/siddheshsavantphotography?igsh=am41a3cwM2xrb3du"
        target="_blank"
        title="Instagram"
      >
        <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div> -->
<small class="footerBottom">&copy; Copyright 2024, Siddhesh Savant Photography</small>
