@use '../../styles/tools/mixins';
@use '../../styles/base/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.galleryHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 2rem 0;
  align-items: center;

  .galleryHeader__back {
    justify-self: left;
  }

  .galleryHeader__title {
    justify-self: center;
  }
}
