@use '../../styles/tools/mixins';
@use '../../styles/base/breakpoints';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  height: 80vh;

  @include mixins.BreakAt(breakpoints.$breakpoint-5) {
    flex-direction: row;
    padding: 0 4rem;
    column-gap: 4rem;
  }

  @include mixins.BreakAt(breakpoints.$breakpoint-8) {
    padding: 0 8rem;
  }

  @include mixins.BreakAt(breakpoints.$breakpoint-11) {
    padding: 0 16rem;
  }
}

.imageContainer {
  display: flex;

  & img {
    object-fit: contain;
    max-width: 25rem;

    @include mixins.BreakAt(breakpoints.$breakpoint-5) {
      max-width: 20rem;
    }

    @include mixins.BreakAt(breakpoints.$breakpoint-8) {
      max-width: 30rem;
    }

    @include mixins.BreakAt(breakpoints.$breakpoint-11) {
      max-width: 40rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 40rem;
  text-align: left;

  @include mixins.BreakAt(breakpoints.$breakpoint-5) {
    row-gap: 4rem;
    text-align: justify;
  }
}
