<div class="imageContainer">
  <img
    src="../../assets/images/SSP logo.jpg"
    alt="Siddhesh Savant Photography Logo"
  />
</div>
<div class="content">
  <p class="mat-subtitle-1">
    Siddhesh Savant is an India-based photographer who is passionate about
    design and has a keen eye for detail which infuses his photographs with
    soul. Committed to every project with the same zest, his work stands out as a
    beacon of authenticity and integrity. His areas of expertise are Interior
    and Architectural photography.
  </p>
  <p class="mat-subtitle-1">
    <span>Email: siddheshsavant26&#64;gmail.com</span><br /><span
      >Cell: +91-9773222300</span
    >
  </p>
</div>
