@use '../../styles/tools/mixins';
@use '../../styles/base/breakpoints';

:host {
  margin: 2rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;

  @include mixins.BreakAt(breakpoints.$breakpoint-5) {
    flex-direction: row;
  }
}

.photoCardColumn {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}