// Global
$breakpoint-xxs: 20rem;
$breakpoint-xs: 30rem;
$breakpoint-s: 42.5rem;
$breakpoint-m: 55rem;
$breakpoint-l: 67.5rem;
$breakpoint-xl: 80rem;

$breakpoint-1: 20rem;
$breakpoint-2: 23.4375rem;
$breakpoint-3: 30rem;
$breakpoint-4: 42.5rem;
$breakpoint-5: 48rem;
$breakpoint-6: 55rem;
$breakpoint-7: 67.5rem;
$breakpoint-8: 80rem;
$breakpoint-9: 90rem;
$breakpoint-10: 120rem;
$breakpoint-11: 135rem;
$breakpoint-12: 150rem;


// Modal
$modal-breakpoint-s: 25rem;
$modal-breakpoint-m: 37.5rem;
